* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #F0E6F1;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Helvetica Neue', Arial, sans-serif;
}

section {
    margin-top: 40px;
}

#navbar {
    background-color: #8A7F9D;
    width: 100%;
    border: 4px solid;
}

#navbar li {
    border-top: 3px solid #F0E6F1;
    list-style: none;
}

#navbar a {
    display: block;
    padding: 20px 10px;
    color: white;
    text-decoration: none;
    cursor: pointer;
    font-size: 20px;
    transition: text-indent 0.3s ease-in-out;
}

#navbar a:hover {
    font-weight: 300;
    text-indent: 5px;
}

p {
    margin: 20px;
}

ol, ul {
    margin-left: 30px;
}

#main-doc {
    margin: 0 auto;
}

header {
    color: black;
    margin: 10px;
    text-align: center;
    font-size: 1.8em;
    font-weight: 500;
}

code {
    display: block;
    text-align: left;
    white-space: pre;
    word-break: normal;
    word-wrap: normal;
    line-height: 1.5;
    background-color: white;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
}

footer {
    padding: 40px;
    text-align: center;
    color: black;
}

@media only screen and (min-width: 815px) {
    body {
        flex-direction: row;
    }

    #navbar {
        width: 300px;
        position: fixed;
        height: 100%;
        resize: horizontal;
        overflow-x: scroll;
    }

    #main-doc {
        margin: 0 20px;
        margin-left: 350px;
    }
}
